; Visual Studio Extension : http://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328
; See http://editorconfig.org/ for more informations
; Top-most EditorConfig file
root = false

; 1-tab indentation
[*.cs]
indent_style = tab
trim_trailing_whitespace = true

[*.Designer.cs]
trim_trailing_whitespace = false

[*.{csproj,props,targets}]
indent_style = space
indent_size = 4
