<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConEmu.Core" version="18.1.31" targetFramework="net40-client" />
  <package id="Microsoft.VisualStudio.Threading" version="15.6.46" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.6.46" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net45" />
</packages>